# Tell GitHub to explicitly track your custom frontend languages
*.js linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=true

# (Optional) If you ever add external libraries, keep them ignored so they don't break your percentages
node_modules/* linguist-vendored